[submodule "thirdparty/llvm-project"]
	path = thirdparty/llvm-project
	url = git@github.com:llvm/llvm-project.git
[submodule "thirdparty/onnx"]
	path = thirdparty/onnx
	url = git@github.com:onnx/onnx.git
